# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/
inspo/WhatAboutYou - STAND 3.pdf
.claude/settings.local.json
inspo/WhatAboutYou - STAND 1.pdf
inspo/WhatAboutYou - STAND 2.pdf
inspo/WhatAboutYou - STAND 4.pdf
